footer{
    font-family: 'Teko', sans-serif;
    background-color: $negro;
    color: $bco;

    @mixin iconosredes($hover){
        color: $bco;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;

        &:hover{
            color: $hover;
        }
    }

    .bi-instagram{
        @include iconosredes($instagram);
    }
    .bi-whatsapp{
        @include iconosredes($whatsapp);
    }
    .bi-spotify{
        @include iconosredes($spotify);
    }
    .bi-envelope{
        @include iconosredes($envelope);
    }
  

    

}

