footer{
    font-family: 'Teko', sans-serif;
    background-color: $titulo;
    color: $lethover;

    
    
    @each $red, $color in $redes{
        .bi-#{$red}{
            color: $color;
        }
    }
    
    
    

}

