footer{
    font-family: 'Teko', sans-serif;
    background-color: $negro;
    color: $bco;

    
    .bi-{
        color: $bco;
    
    @each $red, $color in $redes{
        &:hover#{$red}{
            color: $color;
        }
    }
    
    }
    

}

