main{
    font-family: 'Ubuntu', sans-serif;
        .ingresos{
            background-color: $bg;
        }
        .info{
            background-color: $bg;
        }
    
        h2{
            color: $negro;
        }
        h5{
            color: $negro;
        }
        p{
            color: $gris
        }
        .btn{
            color: $negro;
            background-color: $nar;
            border-color: $nar;
         
            &:hover{
                color: $negro;
                background-color: $negro;
                border-color: $bco;
    
            }
        }    
        
        .rem1{
            width: 25vw;
            opacity: 0.9;
            transition: all 2s;
            &:hover{
                transform: scale(1.1, 1.1);
                opacity: 1;
            }
        }
        
    }